{% extends 'base.html' %}
{% load static%}

{% block title%} | Welcome{% endblock %}
{% block content %}

<div class="header">
  <div class="content">
      <h2>
        {% if settings %}
          {{settings.title}} 

          {%else%}
           MyApp 
          {%endif%}
      </h2>
      <button class="btn btn-info" id="printInvoice"> <a href="{{request.build_absolute_uri}}/admin">Dashboard </a></button>
      <button class="btn btn-info" id="printInvoice"> <a href="{% url 'orderslisting'%}">Billing </a></button>

  </div>
</div>

{% endblock %}